$primaryColor: #e7c8e7;
$fontSize: (
  'large': 35px,
  'medium': 25px,
  'small': 15px,
);

@function size($sizeName) {
  @return map-get($fontSize, $sizeName);
}

.logo-header {
  width: 25px;
}

.navbar-brand {
  font-size: size(medium);
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.nav-link {
  justify-content: center;
  display: flex;
  gap: 5px;
  padding: 0 20px;

  a {
    &:hover {
      background-color: $primaryColor;
      color: white;
    }
    text-decoration: none;
    color: black;
    padding: 10px 5px;
  }
}

.hamburger {
  cursor: pointer;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    /* margin: 6px 0; */
    transition: 0.4s;
  }
}

.active.bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.active.bar2 {
  opacity: 0;
}

.active.bar3 {
  transform: translate(0, -10px) rotate(45deg);
}
