$margin-top: 160px;
// $max-height: 200px;
$primary-color: #fce4cf;

// Deklarasi fungsi dengan @function
@function calculateMaxHeight($originalHeight) {
  
  @return $originalHeight * 1.5;
}

// Menggunakan fungsi untuk menghitung nilai $max-height
$max-height: calculateMaxHeight(200px);

#aboutUsPartial,
#storyPartial {
  text-align: justify;
  max-height: $max-height;
  overflow: hidden;
}

#about {
  margin-top: $margin-top;
}

#story {
  margin-top: 50px;
  background-color: $primary-color;
}

#value {
  margin-top: 50px;
}

// #aboutUsPartial,
// #storyPartial {
//   text-align: justify;
//   max-height: $max-height;
//   overflow: hidden;
// }

#aboutUsFull,
#storyFull {
  text-align: justify;
  display: none;
}

#button2 {
  cursor: pointer;
  text-decoration: underline;
}

#button1 {
  cursor: pointer;
  text-decoration: underline;
}

img {
  margin-right: 15px;
  width: 100px;
  height: 100px;
}

.saru {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    border: none; // Hapus border
    img {
      border-radius: 0; // Hilangkan border-radius
    }
  }
}

img {
  width: 100px;
  height: auto;
}

#ig {
  width:100px;
  height: auto;
  padding: 10px;
  margin-top: 5px;
}

#tt {
  width: 85px;
  height: auto;
  padding: 10px;
  margin-left: 15px;
}

#shopee {
  width: 85px;
  height: auto;
  padding: 10px;
  margin-left: 15px;
}

h2 {
  text-align: center;
}

.card-text {
  text-align: justify;
}

#Available {
  background-color: #dc32e2;
}

#faq {
  $primary-color: #dc32e2;
  background-color: $primary-color;
}

#button1:hover {
  text-decoration: blue;
}

.widget {
  margin-top: 20px;
}
