@use "aboutColor";
@import "AboutTitle";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$margin-top: 160px;
$primary-color: #fce4cf;
$useHoverEffect: true; // var hover

// Deklarasi fungsi dengan @function
@function calculateMaxHeight($originalHeight) {
  
  @return $originalHeight * 1.5;
}

// Menggunakan fungsi untuk menghitung nilai $max-height
$max-height: calculateMaxHeight(200px);

body {
  $primaryFont: 'Roboto', sans-serif;
  font-family: $primaryFont;
}

#text {
  text-align: justify;
}

#about {
  margin-top: $margin-top;
  padding: 50px;
}

img#gbStory {
  margin-top: 20px;
}

#story {
  margin-top: 20px;
  background-color: $primary-color;
  padding: 50px;
}

#value {
  margin-top: 50px;
}

img {
  margin-right: 15px;
  width: 100px;
  height: 100px;
}

img {
  width: 100px;
  height: auto;
}


// perulangan
$elements: 'tiktok', 'instagram';

@each $element in $elements {
  .#{$element} {
    width: 70px;
    height: 70px;
  }
}

h2 {
  text-align: center;
  font-size: $title-size;
  color: aboutColor.$colors;
  font-family: "Arial, sans-serif";
}

.card-text {
  text-align: justify;
}

#Available {
  background-color: #1C3575;
}

.widget {
  margin-top: 20px;
}

.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.social-media-list li {
  display: inline-block;
  margin-right: 10px;
  justify-content: center;
}

.social-media-icon {
  justify-content: center;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-bottom: 30px;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-media-icon:hover {
  transform: scale(1.2); /* Efek zoom out dengan faktor skala 1.2 */
}

.tiktok {
  background-image: url('https://assets-a1.kompasiana.com/items/album/2022/06/15/picsart-22-06-15-19-29-55-853-62a9d0d3fdcdb43f623bb7f2.jpg');
  margin-left: 50px;
}

.instagram {
  background-image: url('https://static.cdnlogo.com/logos/i/93/instagram.svg');
}

.shopee {
  background-image: url('https://www.freepnglogos.com/uploads/shopee-logo/shopee-circle-logo-design-shopping-bag-13.png');
  width: 75px !important;
  height: 90px !important;
  margin-right: 30px;
}

#btnModal {
  background-color: #1C3575; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  /* Efek transisi untuk smooth hover */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#btnModal:hover {
  background-color: #2980b9;
  color: #fff;
}
