$primaryColor: #e7c8e7;
$desktopMin: 600px;

@for $i from 1 through 2 {
    .garis#{$i} {
        $borderRadius: 5px;
        height: 10px;
        background-color: $primaryColor;
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;

        @if($i ==2) {
            width: 200px;
            margin-top: 10px;
        }

        @else {
            width: 300px;
        }
    }
}

// .garis1 {
//     $borderRadius: 5px;
//     width: 300px;
//     height: 10px;
//     background-color: $primaryColor;
//     border-top-right-radius: $borderRadius;
//     border-bottom-right-radius: $borderRadius;
// }

// .garis2 {
//     margin-top: 10px;
//     width: 200px;
//     height: 10px;
//     background-color: $primaryColor;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }

.custom-buket {
    background-color: $primaryColor;
    border-radius: 10px;
}

.image-card {
    width: 40%;
    margin: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.card {
    &:hover {
        .image-card {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            z-index: 10;
        }
    }
}

@media only screen and (min-width: $desktopMin) {
    @for $i from 1 through 2 {
        .garis#{$i} {
            @if $i ==2 {
                width: 300px;
            }

            @else {
                width: 500px;
            }
        }

    }

    .image-card {
        width: 50%;
    }
}