$tipsntrik1-image: url(https://i.pinimg.com/750x/99/0e/32/990e32c78815dd380f18aa88f20fb216.jpg);
$kontenkiri1-image: url(https://i.pinimg.com/750x/d7/e2/33/d7e233c4ab91687d51e846373740e05c.jpg);
$kontenkanan1-image: url(https://i.pinimg.com/750x/ca/e4/b6/cae4b6255693e76d14f3e3abce129d0a.jpg);
$kontenkanan2-image: url(https://i.pinimg.com/750x/20/c9/06/20c906e966a7f1405bdb63bd0b222006.jpg);
$kontenkiri2-image: url(https://i.pinimg.com/750x/fb/f3/d0/fbf3d0203eb54b547c1f0200024179ca.jpg);
$kontentengah-image: url(https://i.pinimg.com/750x/51/b8/39/51b839fecb4040f27ffcdae00daf3f01.jpg);