.garis {
  width: 300px;
  height: 10px;
  background-color: #e7c8e7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.garis2 {
  margin-top: 10px;
  width: 200px;
  height: 10px;
  background-color: #e7c8e7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom-buket {
  background-color: #e7c8e7;
  border-radius: 10px;
}

.image-card {
  width: 40%;
  margin: auto;
}

.image-card {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover .image-card {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 10;
}

@media only screen and (min-width: 600px) {
  .garis {
    width: 500px;
  }

  .garis2 {
    width: 300px;
  }

  .image-card {
    width: 50%;
  }
}
